h1
{
font-family: 'Vast Shadow', cursive;
  font-size: 30px;
  text-align: center;
  color: rgb(255,255,255);
}
h2{
font-family: 'Times New Roman', sans serif;
    text-align: center;
}
p{
font-family: 'Archivo Narrow', sans-serif;
font-size: 27px;
color: rgb(0,0,0);
text-align: left;
}
#background {
 background: url("https://czaplicki-j.github.io/PowerBallLogo2.png");
}

#vertical {
    position: relative;
    width: 25px;
    left: -8px;
     white-space: nowrap;
    color: rgb(255,255,255);
    background-color: red;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    float: left;
    font-size: 25px;
    padding: 1px;
 -webkit-transform:rotate(-180deg);
-moz-transform:rotate(-180deg);
-o-transform:rotate(-180deg);
transform:rotate(-180deg);
}
#numbers {
    font-family: 'Vast Shadow', sans serif;
    font-size: 20px;
    text-align: center;
    color: rgb(209, 10, 123);
}
#powerNumbers{
    font-size: 40px;
    text-align: center;
    color: black;
}
#dash{
   text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95.5%;
  height: auto;
}

/*Fractions*/
/*
.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}
.frac > span {
  display: block;
  padding: 0.1em;
}
.frac span.bottom {
  border-top: thin solid black;
}
.frac span.symbol {
  display: none;
}
*/

span.frac {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
span.frac > sup, span.frac > sub {
  display: block;
  font: inherit;
  padding: 0 0.3em;
}
span.frac > sup {border-bottom: 0.08em solid;}
span.frac > span {display: none;}
