h1
{
font-family: 'Times New Roman', sans serif;
  font-size: 30px;
  text-align: center;
  color: rgb(209, 10, 123);
}
h2{
font-family: 'Vast Shadow', cursive;
    text-align: center;
}
h3{
font-family: 'Vast Shadow', cursive;
    text-align: center;
}
p
{
  font-family: 'Open Sans', sans-serif;
font-size: 25px;
color: rgb(0,0,0);
text-align: center;
}
