/*Font styles and sizes*/
h1
{
font-family: 'Times New Roman', sans serif;
  font-size: 30px;
  text-align: center;
  color: rgb(70, 19, 117);
}
h2{
font-family: 'Vast Shadow', cursive;
    text-align: center;
}
h3{
font-family: 'Vast Shadow', cursive;
    text-align: center;
}
p{
font-family: 'Archivo Narrow', sans-serif;
font-size: 30px;
color: rgb(0,0,0);
text-align: center;
}

#background {
 background-image: url("/pictures/NYlogo.png");
}
#vertical {
    position: relative;
    width: 25px;
    left: -8px;
     white-space: nowrap;
    color: rgb(255,255,255);
    background-color: red;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    float: left;
    font-size: 25px;
    padding: 1px;
 -webkit-transform:rotate(-180deg);
-moz-transform:rotate(-180deg);
-o-transform:rotate(-180deg);
transform:rotate(-180deg);
}
#numbers {
  font-family: 'Vast Shadow', cursive;
    font-size: 20px;
    text-align: center;
    color: rgb(209, 10, 123);
}
#powerNumbers{
    font-size: 40px;
    text-align: center;
    color: black;
}
#dash{
   text-align: center;
}
#left{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
  color: rgb(0,0,0);
  text-align: left;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95.5%;
  height: auto;
}
.examples {
  display: block;
  margin-left: auto;
  margin-left: auto;
  width: 80%;
  height: auto;
}

/*Fractions*/
span.frac {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
span.frac > sup, span.frac > sub {
  display: block;
  font: inherit;
  padding: 0 0.3em;
}
span.frac > sup {border-bottom: 0.08em solid;}
span.frac > span {display: none;}
